    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    body {
      background: #f4f4f4;
      color: #161616;
    }

    header {
      background: #241010;
      color: #fff;
      padding: 1rem 2rem;
    }

    nav {
      display: flex;
      justify-content: space-around;
      background: #a00000;
    }

    nav a {
      color: white;
      padding: 1rem;
      text-decoration: none;
      transition: background 0.3s;
    }

    nav a:hover {
      background: #555;
    }

    .container {
      padding: 2rem;
    }

    .page {
      display: none;
    }

    .active {
      display: block;
    }